.event-component {
  margin: 0 10%;
  .back-button {
    position: fixed;
    top: 13px;
    right: 30px;
    background-color: @db_strip;
    color: @db_char_select;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: @db_main;
      color: @db_char_select;
    }
  }
  .event-content {
    margin: 40px 0;
    .meta {
      margin: 20px 0;
      .time {
        margin: 10px 0;
        font-size: 14px;
        font-style: italic;
        color: @db_char;
      }
    }
  }
}